.titleIndex {
    color: rgb(129, 244, 226);
    padding-right: 0.5rem; 
}

.titleItem {
    color: rgb(136, 146, 176);
}

.line {
    border-bottom: 1px solid rgb(136, 146, 176);
    display: inline-block;
    vertical-align: middle;
    margin-left: 1rem;
    width: 25%;
}

.title {
    margin-block: 1.5vw;
    font-size: 2rem;
}

@media screen and (max-width: 1023px) {
    .descriptionContainer {
        padding-block-start: 5rem;
    }
}